*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
}

nav {
  height: 100%;
  float: right;
  font-size: 24px;
  font-family: monospace;
}

nav ul {
  padding-right: 40px;
  padding-top: 10px;
}

nav li {
  padding-right: 5px;
  padding-left: 5px;
}

nav li:hover {
  background-color: #4c6dd6;
  color: white;
}

header * {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

header {
  background-color: #3355c1;
  color: #f1e9e5;
}

footer {
  text-align: center;
  background-color: #3355c1;
  color: #f1e9e5;
}

#logo {
  height: 37px;
  font-family: Georgia, serif;
  margin-top: 5px;
}

#logo * {
  float: left;
  margin-left: 5px;
  max-height: 100%;
}

.jumbotron img {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #7893f5;
  max-height: 800px;
}

.info {
  position: absolute;
  margin-left: 10px;
  margin-top: 5%;
  padding: 20px;
  background-color: white;
  box-shadow: #1a225a 1px 1px 5px 1px;
}

.info h1 {
  font-size: 36px;
}

.calendar {
  width: 100%;
  padding-left: 20%;
}

.calendar iframe {
  max-width: 35%;
}

.slideshow {
  display: inline;
  width: 100%;
  padding-left: 5%;
}

.slideshow img {
  width: 30%;
  max-height: 680px;
}

section {

}

.content {

}

#social-media {

}
